<ion-header>
    <ion-navbar>
        <ion-title>Bundesliga</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor="let gameDay of ligaData.data">
        <ion-list-header>
            Spieltag {{gameDay.day}}
        </ion-list-header>

        <ion-item *ngFor="let game of gameDay.games" ion-wrap>
            <ion-avatar item-start small>
                <img src={{game.Team1.TeamIconUrl}}>
            </ion-avatar>
            <span>{{game.Team1.TeamName}} </span> {{game.MatchResults[1]?.PointsTeam1}} : {{game.MatchResults[1]?.PointsTeam2}}
            <span>{{game.Team2.TeamName}}</span>
            <ion-avatar item-end small>
                <img src={{game.Team2.TeamIconUrl}}>
            </ion-avatar>


            <span style="text-align:center"></span>
        </ion-item>

    </ion-list>

    <button ion-button (click)="ligaData.resetOnlineApi()">Alles Löschen</button>
    <button ion-button (click)="ligaData.getAll()">Lade Api</button>




</ion-content>